@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: var(--color-gray-950);
  --color-text: var(--color-gray-100);
  --color-text-muted: var(--color-gray-400);
  --color-accent: var(--color-blue-500);
  --color-accent-hover: var(--color-blue-400);
  --color-surface: var(--color-gray-900);
  --color-border: var(--color-gray-800);
}
